html {
	height: max-content;
}

body {
	min-height: 100%;
	overflow: hidden;
}

.sol {
	display: block;
	position: relative;
	margin: auto;
	top: 70px;
    
    animation-name: zoomDoBanner;
	animation-duration: 100s;
	animation-iteration-count: infinite;
}

.back {
	color: white;
	position: fixed;
	top: 0;
	left: 10px;
	z-index: 1;
	font-family: 'Playfair Display SC', serif;
}

.small-planet {
    width: 150px;
    display: block;
    margin: auto;
}

#planeta {
	color: white;
	text-align: left;
	margin: 0;
	font-family: 'Playfair Display SC', serif;
}

.qualplaneta {
	color: white !important;
	text-align: justify;
	margin: auto;
	font-family: 'Playfair Display SC', serif;
}

.fundo {
	position: absolute;
	animation-name: zoomDoBanner;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.description {
	background-color: black;
	opacity: 0.7;
	width: 50%;
	float: left;
	height: 220px;
	bottom: 0;
	position: absolute;
}

.fechar{    
    color: white;
    text-align: right;
    display: block;
}

.descriptionplan {    
    position: absolute;
    z-index: 1;
    padding: 0 5vw;
    bottom: 0;
    margin-bottom: 20px;
}

.carousel {
	position: absolute;
	top: 130px !important;
}

.carousel-item {
	opacity: 1 !important;
}

.ring{ 
    width: 300px !important;
    position: relative;
    right: 50px;
    transform: skew(-14deg, 15deg);
}
#galaxy {
	position: relative;
	display: block;
	margin: auto;
	z-index: 1;
}

.title {
	z-index: 999;
	color: white;
	display: block;
	text-align: center;    
    margin-bottom: 0;
	font-family: 'Changa One', cursive;
    
  position: relative;
  -webkit-animation-name: nomedagalaxia;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: nomedagalaxia;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

.galaxy {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.planetas {
	width: 400px;
}

/* Movimento dos planetas */
.earth {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("image/Terra.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    
    -webkit-animation: spin 30s linear infinite;
}

.uranus {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("image/Uranio.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    

    -webkit-animation: spin 20s linear infinite;
}

.jupiter {
    margin: auto;
    width: 300px !important;
    height: 300px !important;
    background-image: url("image/Jupiter.jpg");
    border-radius: 50%;
    background-size: cover;
    top: -40px !important;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    

    -webkit-animation: spinJupiter 10s linear infinite;
}

.venus {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("image/Venus.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    

    -webkit-animation: spin 100s linear infinite;

}

.mars {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
    background-image: url("image/Marte.jpg");
    border-radius: 50%;
    background-size: cover;
    top: 30px !important;
    left: 70px !important;
    box-shadow: -10px -20px 50px 0.2px #000 inset, 0 0 2px 0.2px #000;
    
    -webkit-animation: spinMars 30s linear infinite;

}

.mercury {
    margin: auto;
    width: 100px !important;
    height: 100px !important;
    background-image: url("image/Mercurio.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    
    -webkit-animation: spin 40s linear infinite;

}
.neptune {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("image/Netuno.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    
    -webkit-animation: spin 25s linear infinite;

}

.saturn {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url("image/Saturno.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -40px 50px 2px #000 inset, 0 0 20px 2px #000;
    
    -webkit-animation: spin 15s linear infinite;
}

/* Fim Movimento dos planetas */

/* animações individuais */

@-webkit-keyframes spinJupiter{
    from{
        background-position: left center;
    }
    to{
        background-position: -600px center;
    }
}

@-webkit-keyframes spinMars{
    from{
        background-position: left center;
    }
    to{
        background-position: -400px center;
    }

}

@-webkit-keyframes spin{
    from{
        background-position: left center;
    }
    to{
        background-position: -400px center;
    }
}
/* Fim animações individuais*/


/* Standard syntax */
@keyframes zoomDoBanner {
	50% {
		-ms-transform: scale(1.5);		/* IE 9 */
		-webkit-transform: scale(1.5);		/* Safari 3-8 */
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);		/* IE 9 */
		-webkit-transform: scale(1);		/* Safari 3-8 */
		transform: scale(1);
	}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes nomedagalaxia {
  from {top: 300px;font-size: 5px;opacity: 70%;}
  to {top: 100px;font-size: 60px;opacity: none;}
}

@keyframes nomedagalaxia {
  from {top: 300px;font-size: 5px;opacity: 70%;}
  to {top: 100px; font-size: 60px;opacity: none;}
}